# 02. SQL Analysis
Выполнение SQL-запросов к базе Superstore.

In [1]:

import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

# Загружаем переменные окружения
load_dotenv("../.env")
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASS = os.getenv("DB_PASS")

engine = create_engine(f"postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

def run_query(path):
    with open(path, "r") as f:
        query = f.read()
    return pd.read_sql(query, engine)

In [2]:
# Пример 1. Месячная выручка
monthly_revenue = run_query("../sql/analytical_queries/monthly_revenue.sql")
monthly_revenue.head()

,month,year,month_num,revenue,profit,order_count,item_count,prev_month_revenue,prev_year_revenue,mom_growth_pct,yoy_growth_pct,season
0,2013-12-31 21:00:00+00:00,2014.0,1.0,14236.90,2450.18,32,79,NaN,NaN,NaN,NaN,Winter
1,2014-01-31 21:00:00+00:00,2014.0,2.0,4519.92,862.30,28,46,14236.90,NaN,-68.25,NaN,Winter
2,2014-02-28 21:00:00+00:00,2014.0,3.0,55691.04,498.72,71,157,4519.92,NaN,1132.12,NaN,Spring
3,2014-03-31 21:00:00+00:00,2014.0,4.0,28295.35,3488.86,66,135,55691.04,NaN,-49.19,NaN,Spring
4,2014-04-30 21:00:00+00:00,2014.0,5.0,23648.28,2738.74,69,122,28295.35,NaN,-16.42,NaN,Spring

In [3]:
# Пример 2. Топ-10 продуктов
top_products = run_query("../sql/analytical_queries/top_products.sql")
top_products

,Product Name,Category,Sub-Category,total_revenue,total_profit,profit_margin,transaction_count,avg_quantity_per_order,total_quantity_sold
0,Canon imageCLASS 2200 Advanced Copier,Technology,Copiers,61599.83,25199.94,0.384667,5,4.000000,20
1,Fellowes PB500 Electric Punch Plastic Comb Bin...,Office Supplies,Binders,27453.38,7753.06,0.050001,10,3.100000,31
2,Cisco TelePresence System EX90 Videoconferenci...,Technology,Machines,22638.48,-1811.08,-0.080000,1,6.000000,6
3,HON 5400 Series Task Chairs for Big and Tall,Furniture,Chairs,21870.57,0.00,-0.014683,8,4.875000,39
4,GBC DocuBind TL300 Electric Binding System,Office Supplies,Binders,19823.48,2233.50,-0.084092,11,3.363636,37
5,GBC Ibimaster 500 Manual ProClick Binding System,Office Supplies,Binders,19024.50,760.98,-0.398148,9,5.333333,48
6,Hewlett Packard LaserJet 3310 Copier,Technology,Copiers,18839.68,6983.89,0.328333,8,4.750000,38
7,HP Designjet T520 Inkjet Large Format Printer ...,Technology,Machines,18374.90,4094.98,0.093334,3,4.000000,12
8,GBC DocuBind P400 Electric Binding System,Office Supplies,Binders,17965.07,-1878.17,-0.515001,6,4.500000,27
9,High Speed Automatic Electric Letter Opener,Office Supplies,Supplies,17030.31,-262.00,-0.040000,3,3.666667,11

In [4]:
# Пример 3. Топ-10 клиентов
top_customers = run_query("../sql/analytical_queries/top_customers.sql")
top_customers

,Customer Name,Segment,Region,State,total_orders,total_revenue,total_profit,avg_order_value,total_items_purchased,first_purchase_date,last_purchase_date,customer_lifetime_days
0,Sean Miller,Home Office,South,Florida,1,23661.24,-1789.74,3380.177143,7,2014-03-18,2014-03-18,0
1,Tamara Chand,Corporate,Central,Indiana,1,18336.74,8762.39,3667.348000,5,2016-10-02,2016-10-02,0
2,Raymond Buch,Consumer,West,Washington,1,14052.48,6734.47,4684.160000,3,2017-03-23,2017-03-23,0
3,Tom Ashbrook,Home Office,East,New York,2,13723.50,4599.21,2744.700000,5,2017-04-04,2017-10-22,201
4,Becky Martin,Consumer,Central,Texas,1,10539.90,-1878.79,1505.700000,7,2014-09-08,2014-09-08,0
5,Hunter Lopez,Consumer,East,Delaware,1,10499.97,5039.99,10499.970000,1,2017-11-17,2017-11-17,0
6,Sanjit Chand,Consumer,Central,Minnesota,1,9900.19,4668.70,2475.047500,4,2014-09-23,2014-09-23,0
7,Adrian Barton,Consumer,Central,Michigan,1,9892.74,4946.37,9892.740000,1,2016-12-17,2016-12-17,0
8,Bill Shonely,Corporate,East,New Jersey,1,9135.19,2381.16,3045.063333,3,2016-04-16,2016-04-16,0
9,Sanjit Engle,Consumer,South,Virginia,1,8805.04,2825.28,2935.013333,3,2016-02-02,2016-02-02,0

In [5]:
# Пример 4. Продажи по категориям
category_mix = run_query("../sql/analytical_queries/category_mix.sql")
category_mix

,Category,Sub-Category,transaction_count,revenue,profit,revenue_market_share,profit_market_share,profit_margin_pct,avg_sale_value,avg_quantity,unique_products,unique_customers,unique_orders,revenue_per_customer,avg_order_value
0,Technology,Phones,889,330007.10,44516.25,14.37,15.54,13.49,371.211586,3.699663,184,511,814,645.81,405.41
1,Furniture,Chairs,617,328449.13,26590.15,14.30,9.28,8.10,532.332464,3.818476,87,407,576,807.00,570.22
2,Office Supplies,Storage,846,223843.59,21279.05,9.74,7.43,9.51,264.590532,3.732861,131,514,777,435.49,288.09
3,Furniture,Tables,319,206965.68,-17725.59,9.01,-6.19,-8.56,648.795235,3.890282,57,261,307,792.97,674.16
4,Office Supplies,Binders,1523,203412.77,30221.64,8.85,10.55,14.86,133.560584,3.922521,210,650,1316,312.94,154.57
5,Technology,Machines,115,189238.68,3384.73,8.24,1.18,1.79,1645.553739,3.826087,63,99,112,1911.50,1689.63
6,Technology,Accessories,775,167380.31,41936.78,7.29,14.64,25.05,215.974594,3.840000,144,474,718,353.12,233.12
7,Technology,Copiers,68,149528.01,55617.90,6.51,19.42,37.20,2198.941324,3.441176,13,64,68,2336.38,2198.94
8,Furniture,Bookcases,228,114880.05,-3472.56,5.00,-1.21,-3.02,503.859868,3.807018,49,195,224,589.13,512.86
9,Office Supplies,Appliances,466,107532.14,18138.07,4.68,6.33,16.87,230.755665,3.710300,98,356,451,302.06,238.43
10,Furniture,Furnishings,957,91705.12,13059.25,3.99,4.56,14.24,95.825622,3.723093,182,528,877,173.68,104.57
11,Office Supplies,Paper,1370,78479.24,34053.34,3.42,11.89,43.39,57.284117,3.779562,276,611,1191,128.44,65.89
12,Office Supplies,Supplies,190,46673.52,-1188.99,2.03,-0.42,-2.55,245.650105,3.405263,38,160,187,291.71,249.59
13,Office Supplies,Art,796,27118.80,6527.96,1.18,2.28,24.07,34.068844,3.768844,163,494,731,54.90,37.10
14,Office Supplies,Envelopes,254,16476.38,6964.10,0.72,2.43,42.27,64.867638,3.566929,54,206,249,79.98,66.17
15,Office Supplies,Labels,364,12486.30,5546.18,0.54,1.94,44.42,34.303022,3.846154,70,281,346,44.44,36.09
16,Office Supplies,Fasteners,217,3024.25,949.53,0.13,0.33,31.40,13.936636,4.211982,43,191,215,15.83,14.07